.nav-item button{
margin: 0px 20px;
font-weight: bold;
border: none;
background-color: white;  
outline: none; 
padding: 8px 20px;
}

.nav-item button:hover{
    background-color: rgb(241, 14, 64);
    color: white;
    border-radius: 50px;
}